
@model UMS.Models.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "ChangerPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container " id="main-container">
    <h2 class="text-primary text-center">Change Password</h2>
    <form method="post" class="p-4">
        @if (Model.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p>Successfully Change Password</p>
            </div>
            <div>
                <a class="text-decoration-none text-dark" asp-action="Index" asp-controller="Home" asp-area="Student">Back To Dashboard</a>
            </div>
        }
        else
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row form-group pt-3">
                    <div class="col-4">
                        <label>Current Password</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                </div>

                <div class="row form-group pt-3">
                    <div class="col-4">
                        <label>New Password</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                </div>

                <div class="row form-group pt-3">
                    <div class="col-4">
                        <label>Confirm New Password</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ConNewPassword" class="form-control" />
                        <span asp-validation-for="ConNewPassword" class="text-danger"></span>
                    </div>

                </div>
                <div class="row form-group offset-4 pt-3">
                    <div class="col-6">
                        <input type="submit" class="btn btn-primary form-control" value="Submit" />
                    </div>
                    <div class="col-6">
                        <a class="btn btn-success form-control" asp-action="Index" asp-controller="Home" asp-area="Student">Back to Home</a>
                    </div>
                </div>
            </div>
        }
    </form>


</div>





@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
            $(window).on('load', function () {
	            $(".loader").fadeOut(1000);
	            $(".wrapper").fadeIn(1000)
            });
    </script>
}



