@model UMS.Models.ViewModels.LoginVM
@{
    ViewData["Title"] = "";
    Layout = "_LayoutFirst";
}
<span class="d-none" id="message">@TempData["LogoutSuccess"]</span>
 <section>      
        <div class="form-container">
            <h1>Login</h1>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="control">
                    <label for="Email">Name</label>
                    <input asp-for="Email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="control">
                    <label for="psw">Password</label>
                    <input type="password" asp-for="Password" class="form-control" id="psw">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*<span><input type="checkbox" asp-for="RememberMe"> Remember me</span>*@
                <div class="control">
                    <input type="submit" class="btn" value="Login">
                </div>
            </form>
            <p><a asp-action="ForgetPassword" asp-controller="Account" asp-area="Admin">Forget password ?</a></p>
        </div>
    </section>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>   
    <script>
        var message = $("#message").text();
        if (message != "") {
            toastr.success(message);
        }
    </script>
}
