@model UMS.Models.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutFirst.cshtml";
}
<div class="container p-5 m-5 ">
    <h2 class="text-primary text-center border-bottom">Change Password</h2>
    <form method="post" class="p-4">

        @if (ViewBag.Success == false)
        {
            <div class="alert alert-danger">
                <p>Something went Error</p>
            </div>
        }
        @if (Model.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p>Successfully Reset Password</p>
            </div>
            <div>
                <a class="text-decoration-none text-dark" asp-action="Login" asp-controller="Account" asp-area="Admin">Click Here to Login</a>
            </div>

        }
        else
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-8">
                <div class="row form-group pt-3">
                    <div class="col-4">
                        <label asp-for="NewPassword"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                </div>

                <div class="row form-group pt-3">
                    <div class="col-4">
                        <label asp-for="ConfirmNewPassword"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                </div>


                <div class="row form-group offset-4 pt-3">
                    <div class="col-6">
                        <input type="submit" class="btn btn-primary form-control" value="Submit" />
                    </div>
                </div>
            </div>

        }


    </form>


</div>





@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @*<script>
            $(window).on('load', function () {
	            $(".loader").fadeOut(1000);
	            $(".wrapper").fadeIn(1000)
            });
    </script>*@
}


