@model UMS.Models.ViewModels.ManageUserClaimVM

<div class="container"  id="main-container">
    <h2 class="text-center text-primary">Assign Claim to User</h2>
    <div class="row mt-5 pt-5">
        <div class="col-lg-6 col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" id="userId" />
            <div class="row form-group my-4">
                <div class="col-4">
                    <label asp-for="User.Name"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="User.Name" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group my-4">
                <div class="col-4">
                    <label asp-for="User.Email"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="User.Email" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group my-4">
                <div class="col-4 mt-3">
                    <label>Claims</label>
                </div>
                <div class="col-8">
                    <select class="form-control" id="claimId" asp-items="@Model.ClaimList">
                        <option value="" selected disabled>---Select Claim---</option>
                    </select>
                </div>
            </div>
            <div class="row form-group my-4">
                <div class="col-4 offset-4">
                    <button type="submit" id="submitBtn" class="btn btn-primary form-control">Add Claim</button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-sm-12 " id="claimList">

        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>       
        $(document).ready(function () {
            getData();
        });
        var userId = $("#userId").val();
        function getData() {
            $.ajax({
                url: '@Url.Action("ManageClaimPartial", "User")',
                type: "GET",
                data: {
                    id: userId                   
                }
            }).done(function (response) {
                $(".loader").fadeOut(1000);
                $(".wrapper").fadeIn(1000);
                $("#claimList").html(response);
            }).fail(function (xhr) {
                $(".loader").fadeOut(1000);
                $(".wrapper").fadeIn(1000);
                toastr.error("Something Went Wrong");
            })
        }
      
        $("#submitBtn").click(function () {
            
            var userId = $("#userId").val();
            var claimId = $('#claimId').val();
            if (claimId != null) {
                $.ajax({
                  url: '@Url.Action("AssignClaimToUser", "User")',
                    type: "POST",
                    data: {
                        userId: userId,
                        claimId: claimId
                    }
                }).done(function (response) {
                    $(".loader").fadeOut(1000);
                    $(".wrapper").fadeIn(1000);
                    toastr.success("Successfully Assigned");
                    $("#claimList").html(response);
                    
                }).fail(function (xhr) {
                    $(".loader").fadeOut(1000);
                    $(".wrapper").fadeIn(1000);
                    toastr.error("Claim Already in Assigned");
                })
            }
            else {
                $(".loader").fadeOut(1000);
                $(".wrapper").fadeIn(1000);
                toastr.error(" Select Any Claim ");
            }
        });
    </script>
        

  
}