@model UMS.Models.Models.Department
@{
    var title = "Create Department";
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                @if (!Model.Id.Equals(Guid.Empty))
                {
                    title = "Edit Department";
                    <input asp-for="Id" hidden />
                }
                <h3 class="text-primary">@title</h3>
            </div>          
         
            <div class="col-md-10 col-lg-8 col-sm-12  pt-4">
                <div class="row form-group my-3">
                    <div class="col-3">
                        <label>Department Name</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="Name" id="name" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <label id="name-span" class="text-danger"></label>
                    </div>
                </div>

                <div class="row form-group my-3">
                    <div class="col-3">
                        <label>Department Initial</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="Initial" id="initail" autocomplete="off" />
                        <span asp-validation-for="Initial" class="text-danger"></span>
                        <label id="initial-span" class="text-danger"></label>
                    </div>
                </div>
                <div class="row form-group my-3">
                    <div class="col-3">
                        <label>Require Credit</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="RequiredCreditToComplete" autocomplete="off" />
                        <span asp-validation-for="RequiredCreditToComplete" class="text-danger"></span>

                    </div>
                </div>
                <div class="row form-group my-3">
                    <div class="col-3">
                        <label>Require Course</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="RequireCourseToComplete" autocomplete="off" />
                        <span asp-validation-for="RequireCourseToComplete" class="text-danger"></span>

                    </div>
                </div>
                <div class="row form-group offset-3 my-3">
                    <div class="col-6">
                        @if (!Model.Id.Equals(Guid.Empty))
                        {
                            <input type="submit" value="Update" id="submitBtn" class="form-control btn btn-success" />
                        }
                        else
                        {
                            <input type="submit" value="Submit" id="submitBtn" class="form-control btn btn-success" />
                        }
                    </div>
                    <div class="col-6">
                        <a class="form-control btn btn-primary" asp-action="Index"><i class="fas fa-arrow-left"></i> Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>   
    <script>
        
        $(document).ready(function () {
            
            $("#name").keyup(function () {
                var alphabaticString = new RegExp("^[a-zA-Z ]+$");
                var name = $("#name").val();
                $.ajax({
                    url: '@Url.Action("ExistName","Department")',
                    type: "GET",
                    data: {
                        name: name
                    },
                    success: function (data) {
                        if (data.success == true) {
                            if (alphabaticString.test(name)) {
                                $("#name-span").text("Department Name Available");
                                $("#name-span").removeClass("text-danger");
                                $("#name-span").addClass("text-success");
                                $("#submitBtn").attr("disabled", false);
                            }
                            else {
                                $("#name-span").text("Department Name Must be Alphabetical");
                                $("#name-span").removeClass("text-success");
                                $("#name-span").addClass("text-danger");
                                $("#submitBtn").attr("disabled", true);
                            }
                        }
                        else{
                            $("#name-span").text("Department Name is not Available");
                            $("#name-span").removeClass("text-success");
                            $("#name-span").addClass("text-danger");
                            $("#submitBtn").attr("disabled", true);
                        }                     
                    }
                })
            });

            $("#initail").keyup(function () {
                var alphabaticString = new RegExp("^[a-zA-Z ]+$");
                var initialValue = $("#initail").val();
                $.ajax({
                    url: '@Url.Action("ExistInitial", "Department")',
                    type: "GET",
                    data: {
                        initial: initialValue
                    },
                    success: function (data) {
                        if (data.success == true) {
                            if (alphabaticString.test(initialValue)) {
                                $("#initial-span").text("Department Initial Available");
                                $("#initial-span").removeClass("text-danger");
                                $("#initial-span").addClass("text-success");
                                $("#submitBtn").attr("disabled", false);
                            }
                            else {
                                $("#initial-span").text("Department Initial Must be Alphabetical");
                                $("#initial-span").removeClass("text-success");
                                $("#initial-span").addClass("text-danger");
                                $("#submitBtn").attr("disabled", true);
                            }
                        }
                        else {
                            $("#initial-span").text("Department Initial is not Available");
                            $("#initial-span").removeClass("text-success");
                            $("#initial-span").addClass("text-danger");
                            $("#submitBtn").attr("disabled", true);
                        }
                    }
                })
            });
        });
    </script>
}