@model UMS.Models.Models.ClassTime
@{
    var title = "Create ClassTime";
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="main-container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                @if (!Model.Id.Equals(Guid.Empty))
                {
                    title = "Edit ClassTIme";
                    <input asp-for="Id" hidden />
                }
                <h3 class="text-primary">@title</h3>
            </div>          
         
            <div class="col-md-10 col-lg-8 col-sm-12  pt-4">
                <div class="row form-group my-3">
                    <div class="col-3">
                        <label>Course Type Name</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="Time" type="time" id="time" autocomplete="off" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                        <label id="time-span" class="text-danger"></label>
                    </div>
                </div>
               

                <div class="row form-group offset-3 my-3">
                    <div class="col-6">
                        @if (!Model.Id.Equals(Guid.Empty))
                        {
                            <input type="submit" value="Update" id="submitBtn" class="form-control btn btn-success" />
                        }
                        else
                        {
                            <input type="submit" value="Submit" id="submitBtn" class="form-control btn btn-success" />
                        }
                    </div>
                    <div class="col-6">
                        <a class="form-control btn btn-primary" asp-action="Index"><i class="fas fa-arrow-left"></i> Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>   
    <script>
        
        $(document).ready(function () {
            $(".loader").fadeOut(1000);
            $(".wrapper").fadeIn(1000);
            $("#time").change(function () {
                
                var time = $("#time").val();
                $.ajax({
                    url: '@Url.Action("ExistsTime", "ClassTime")',
                    type: "GET",
                    data: {
                        time: time
                    },
                    success: function (data) {
                        if (data.success == true) {

                            $("#time-span").text("Class Time is Available");
                            $("#time-span").removeClass("text-danger");
                            $("#time-span").addClass("text-success");
                            $("#submitBtn").attr("disabled", false);

                        }
                        else{
                            $("#time-span").text("Class TIme is not Available");
                            $("#time-span").removeClass("text-success");
                            $("#time-span").addClass("text-danger");
                            $("#submitBtn").attr("disabled", true);
                        }                     
                    }
                })
            });          
        });
    </script>
}