@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <title>University Management System</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   
    <!-- Import lib -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true">
</head>
<body class="overlay-scrollbar">
    <div class="loader">
        <div></div>
    </div>
    <!-- navbar -->
    <div class="navbar-wrapper">
        <!-- nav left -->
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="navbar-link">
                    <i class="fas fa-bars" onclick="collapseSidebar()"></i>
                </a>
            </li>
            <li class="navbar-item">
                <img src="~/Images/logo.jpg" alt="ATPro logo" class="logo logo-light">
            </li>
        </ul>

        <ul class="navbar-nav nav-right">
            <li class="navbar-item avt-wrapper">
                <div class="avt dropdown-wrapper">
                    <img src="~/Images/profile.jpg" alt="User image" class="dropdown-toggle-nav" data-toggle="user-menu">
                    <ul id="user-menu" class="dropdown-menu-nav">
                        <li class="dropdown-menu-item">
                            <a class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-user-tie"></i>
                                </div>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-item">
                            <a href="#" class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-cog"></i>
                                </div>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-item">
                            <a href="#" class="dropdown-menu-link">
                                <div>
                                    <i class="far fa-credit-card"></i>
                                </div>
                                <span>Payments</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-item">
                            <a href="#" class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-spinner"></i>
                                </div>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                            <form id="logoutForm" class="form-inline" asp-area="Admin" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "Admin" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                            }
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item sidebar-active">
                <a href="#" class="sidebar-nav-link ">
                    <div>
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <span>
                        Dashboard
                    </span>
                    
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Department" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-building"></i>
                    </div>
                    <span>Department</span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="CourseType" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-tasks"></i>
                    </div>
                    <span>CourseType</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="CourseProtoType" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-spinner"></i>
                    </div>
                    <span>CourseProtoType</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Course" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>Courses</span>
                    
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="CoursePre" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>CourePrerequisite</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Semester" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>Semesters</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="ClassTime" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>Class Times</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Day" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>Days</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Section" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <span>Sections</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Activity" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-bug"></i>
                    </div>
                    <span>Activities</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-action="Index" asp-controller="Role" asp-area="Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <span>Roles</span>
                </a>
            </li>
            
            <li class="nav-item has-submenu sidebar-nav-item">
                <a class="sidebar-nav-link" href="#">
                    <div>
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <span>Dropdown</span>
                    <div>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </a>
                <ul class="submenu collapse">
                    <li><a class="submenu-link" href="#">Submenu item 4 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 5 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 6 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 7 </a></li>
                </ul>
            </li>
            <li class="sidebar-nav-item">
                <a href="#" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-adjust"></i>
                    </div>
                    <span>Morbi</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="#" class="sidebar-nav-link">
                    <div>
                        <i class="fab fa-algolia"></i>
                    </div>
                    <span>Praesent</span>
                </a>
            </li>
            

        </ul>
    </div>

    <div class="wrapper" id="contents">
        <main role="main" class="pb-3 px-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-primary text-center  ">
        &copy; @DateTime.Now.Year - UMS All Rights Reserved
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- end import script -->
</body>
</html>